<section class="module module-gray" id="skills">
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="m-title c-align">
        <h2>{{head.title}}</h2>
        <h6>{{head.subtitle}}</h6>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4" *ngFor="let d of skills; let ixr = index;" style="margin-bottom: 40px;">
      <h5>{{d.title}}</h5>

      <div *ngFor="let r of d.info; let ixr = index;">
      <div class="progress-item" *ngFor="let g of r;let ix = index;">
        <div class="progress-title">{{g.title}} </div>
        <ngb-progressbar type="success" [value]="g.progress" [striped]="true"></ngb-progressbar>
      </div>

    </div>
    </div>
  </div>
</div>
</section>
